body {
  background-color: #e8ede9;
  margin: auto;

}

a {
  color: var(--clr4-dr);
}

.p {
  text-align: center;
}
/*button for at give højere aktiv klasse. ændre farve hvis provilen er på favList*/
button.btnFav--active {
  color: #d63031;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin: 70px 0 40px;
  color: darkgrey;
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-align: center;
  font-size: 30px;
}