.accordions_sideBySide {
  display: flex;
  flex-direction: row;
  position: relative;
}

.accordion {
  background-color: var(--clr-bg1);
  color: var( --clr-text-dark);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;

  max-width: 750px;
margin-left: 20px;
}

.accordion__heading {
  padding: 18px;
  padding-left: 60px;
  font-size: 25px;
  color: var(--clr1);
  width: 720px;
}


.accordion:hover {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);

}

.accordion__content {
  padding: 18px;
  max-width: 720px;
  overflow: hidden;
}

/* Icons */
summary {
  list-style: none;
  padding-left: 30px;
  position: relative;
}

summary::before {
  content: "\02B57";
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px ;
}

.accordion[open] summary::before {
  content: "\02B59";
}

.accordion:before[open] {
  content: "\02A01"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin: 5px;
}

.accordion[open]::before {
  content: ""; /* Unicode character for "minus" sign (-) */
}
