.refleksion__container {
  margin: 0px auto;
  padding: 40px 0 100px;
  
  background: var(--clr-text-light);
  color: var(--clr-bg-dark);
}
.refleksion {
  max-width: 1100px;
  margin: 10px auto;
 
}
 h3 {
  font-size: 1.6rem;
 }

 .refleksion p {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;     
  padding: 10px 0 30px;

 }