.sideBySide {
  display: flex;
  flex-direction: row;
}
/* Containeren som slider-billedet indsættes i */
.slider-container {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
  position: relative;
  max-width: 800px;
  margin: 20px;
  text-align: center;
}

.slider__button {
  margin: 10px;
  padding: 8px;
  font-size: 1.2rem;
  background-color: var(--clr-bg-dark);
  border-radius: 30px;
  min-width: 40px;
  color: var(--clr-text-light);
}
.slider__button a {
    color: var(--clr-text-light);
}

.bodyText__h3 {
  margin: 20px 0 20px;
}

.bodyText__p {
  background-color: var(--clr-bg1);
  color: var(--clr-text-dark);
  padding: 20px;
}

/* Dét billede der vises i slideren */
.image-in-slider {
  width: 100%;
  object-fit: cover;
}

.slider-button-link {
  /* Positionering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Styling */
  padding: 20px;

  color: white;
  border: none;

  font-size: 20px;
  font-weight: 100;
  z-index: 100;
}

.slider-link {
  cursor: pointer;
}
