:root {
  --clr-bg1: #fcd8ee;
  --clr-bg2: #b3bab5;
  --clr-bg-dark: #363b38;

  --clr-text-dark: #363b38;
  --clr-text-light: #fcd8ee;


  --clr1-bgc: #e8ede9;
  --clr2-white: tomato;
  --clr3-lr: #8f3a3a;
  --clr4-dr: #491409;
  --clr5-navbar: #d9d9d9;
}
